html {
    background-color: #dfe6e9;
}

.container {
    margin-top: 3rem;
}

.card_container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 1.25rem 1.25rem calc(1.25rem + 8vw);
}

.card {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 700px;
    padding: 4rem;
    height: auto;
}

.form_buttons {
    margin-top: 2rem;
}

.errors {
    margin-top: 2rem;
}

.product_list {
    max-width: 800px;
}

.product_list_title {
    display: flex;
    justify-content: space-between;
}

.product_list_list {
      
}

.product_wrapper {
    justify-content: space-between;
    align-items: center;
}

.product_control_item {
    padding: 0 0.5rem;
    flex: 0 0 auto;
}

.product_attributes {
    flex-wrap: wrap;
    align-items: center;
}

.product_attribute {
    padding: 0 0.5rem;
}

.product_attribute_title {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    flex: 0 0 100%;
}

.product_price {
    white-space: nowrap;
    font-size: 1.75rem;
    line-height: 1;
}

.product_price_wrapper {
    flex: 0 0 150px;
    text-align: right;
    margin-left: auto;
    margin-right: 2rem;
}
